<!DOCTYPE html>
<html>
  <head>
    <title>Attendant</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag    'webpack-bundle' %>
    <%= action_cable_meta_tag %>
  </head>

  <body>
    <div class='wrap'>
      <%= render 'layouts/menu' %>
      <%= render 'layouts/header' %>

	    <div class='main-container section'>
        <%= render 'layouts/notices' %>

        <div class='container'>
          <%= yield %>
        </div>
    	</div>
    </div>
    <!-- <div class='footer-wrap'>
      <%= render 'layouts/footer' %>
    </div> -->
  </body>
</html>
